
<div class="container mt-5">
  <h1>Cadastro de Usuário</h1>
  <form>
      <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" required>


      </div>
      <div class="mb-3">
          <label for="cpf" class="form-label">CPF</label>
          <input type="text" class="form-control" id="cpf" required>
      </div>
      <div class="mb-3">
          <label for="dtNasc" class="form-label">Data de Nascimento</label>
          <input type="date" class="form-control" id="dtNasc" required>
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" required>
      </div>
      <div class="mb-3">
          <label for="ddd" class="form-label">DDD</label>
          <input type="text" class="form-control" id="ddd" required>
      </div>
      <div class="mb-3">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="telefone" required>
      </div>
      <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" required>
      </div>
      <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="funcionario">
          <label class="form-check-label" for="funcionario">Funcionário</label>
      </div>
      <button class="btn btn-xs btn-secondary mr-12"
      (click)="enderecoCadastrar()">Cadastrar Endereço
      </button>
        &nbsp;
      <br>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>


