<div class="bg-light min-vh-100">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card border-dark">
          <div class="card-header bg-dark text-white">
            <h5 class="m-0">Detalhes do Pedido</h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="idPessoa">ID Pessoa</label>
              <input [(ngModel)]="pedido.idPessoa" class="form-control shadow-sm" name="idPessoa">
            </div>
            <div class="form-group">
              <label for="idCamisa">ID Camisa</label>
              <input [(ngModel)]="pedido.idCamisa" class="form-control shadow-sm" name="idCamisa">
            </div>
            <div class="form-group">
              <label for="idEndereco">ID Endereço</label>
              <input [(ngModel)]="pedido.idEndereco" class="form-control shadow-sm" name="idEndereco">
            </div>
            <div class="form-group">
              <label for="total">Total</label>
              <input [(ngModel)]="pedido.total" class="form-control shadow-sm" name="total">
            </div>
            <div class="form-group">
              <label for="status">Status do Pedido</label>
              <input [(ngModel)]="pedido.status" class="form-control shadow-sm" name="status">
            </div>
            <div class="form-group">
              <label for="quantidade">Quantidade</label>
              <input [(ngModel)]="pedido.quantidade" class="form-control shadow-sm" name="quantidade">
            </div>
            <br>
            <div class="form-group">
              <button type="button" class="btn btn-warning btn-block rounded-0 shadow-sm" (click)="voltar()">Voltar</button>
            </div>
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
