<div class="container mt-5">
  <h2>Cadastro de Pedidos</h2>
  <form>

    <div class="mb-3">
      <label for="idCamisa" class="form-label">ID Camisa:</label>
      <select class="form-control" name="camisa">



      </select>


    </div>
    <div class="mb-3">
      <label for="idEndereco" class="form-label">ID Endereço:</label>
      <select class="form-control" name="endereco">



      </select>
    </div>
    <div class="mb-3">
      <label for="total" class="form-label">Total:</label>
      <input type="number" step="0.01" class="form-control" id="total" name="total" required>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <input type="text" class="form-control" id="status" name="status" required>
    </div>
    <div class="mb-3">
      <label for="quantidade" class="form-label">Quantidade:</label>
      <input type="number" step="0.01" class="form-control" id="quantidade" name="quantidade" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Pedido</button>
  </form>
</div>
